body{
    background-color: #232323;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: purple;
    border-radius: 17%;
    transition: background-color 0.66s;
}

#container{
    margin: 50px auto;
    max-width: 400px;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    padding: 20px 0px;
    transition: background-color 0.33s;
}


#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: #232323;
}

.selected{
    background-color: steelblue;
    color: white;
}

#displayColor{
    font-size: 200%;
}

#in{
    margin-left: 90px;
    height: 100%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1.1px;
    font-size: inherit;
    transition: all 0.33s;
    outline: none;
}

#message{
    display: inline-block;
    width: 20%;
}

button:hover{
    background-color: steelblue;
    color: white;
}